<div>
    <form name="AddScoreForm">
        <label for="PlayerToInvite"></label>
        <select name="PlayerToInvite" id="PlayerToInvite" ng-model="PlayerToInvite">
            <option value="">Please Select</option>
            <option ng-repeat="TableRow in Table" value="{{TableRow._id}}">{{TableRow.full_name}}</option>
        </select>
        <div style="margin-top: 20px;">
            <button ng-disabled="!PlayerToInvite" class="btn" ng-class="{'btn-info': !PlayerToInvite, 'btn-success': PlayerToInvite}" ng-click="ChoosePlayer(PlayerToInvite)">Match me up!</button>
        </div>
    </form>
</div>