<div>
    <form name="AddScoreForm">
        <div ng-if="0 === Matches.length">
            You have no pending mathces
        </div>
        <form name="AddScoreForm" ng-show="0 < Matches.length">
            <div ng-if="0 < Matches.length">
                <select ng-model="MatchIndex" ng-change="ChangeMatchIndex(MatchIndex)">
                    <option ng-repeat="Match in Matches track by $index"
                            value="{{$index}}">
                        {{Match.type}} - {{IdToName[Match.oponnentId]}}
                    </option>
                </select>
                <div ng-if="-1 < MatchIndex">
                    <label> Who won?</label>
                    <div class="clear"></div>
                    <div ng-for="self_winner">
                        <input type="radio" id="self_winner" name="Winner" ng-model="SelectedMatch.Winner" ng-value="UserDetails._id"> Me</input>
                    </div>
                    <div class="clear"></div>
                    <div ng-for="other_winner">
                        <input type="radio" id="other_winner" name="Winner" ng-model="SelectedMatch.Winner" ng-value="SelectedMatch.oponnentId"> {{IdToName[SelectedMatch.oponnentId]}}</input>
                    </div>
                    <div class="clear"></div>
                    <div ng-if="SelectedMatch.Winner" style="margin-top: 20px; margin-bottom: 20px;">
                        <button ng-show="SelectedMatch.Winner === UserDetails._id" class="btn btn-success" ng-click="AddScore(SelectedMatch._id, SelectedMatch.Winner)">Yeap, I rock!</button>
                        <button ng-show="SelectedMatch.Winner === SelectedMatch.oponnentId" class="btn btn-danger" ng-click="AddScore(SelectedMatch._id, SelectedMatch.Winner)">Yeap, I'm worthless :(</button>
                    </div>
                </div>
            </div>
        </form>
    </form>
</div>