
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
frontend/node_modules/
frontend/public/dist/

# WebStorm Folder
.idea
.slack_token
