<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>IntSights Register</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/ng-dialog/css/ngDialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/ng-dialog/css/ngDialog-theme-plain.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/jquery.growl/stylesheets/jquery.growl.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/intl-tel-input/build/css/intlTelInput.css"/>

    <link rel="stylesheet" type="text/css" href="css/index.css"/>

</head>
<body ng-controller="RegisterController" popup-manager ng-cloak>
<header class="main_header">
    <div>
        <img src="/static/img/nav_logo.png" class="logo" alt="IntSights" title="IntSights"/>
    </div>

</header>


<div class="page_container">
    <div class="gui_box">
        <div class="box_header">Register</div>
        <div class="box_body">
            <form name="RegisterForm" novalidate>
                <fieldset ng-disabled="FormSend">
                    <div class="error_message" ng-if="'' !== ErrorMessage" bind-html="ErrorMessage"> Wrong Code</div>
                    <div class="field_table no-margins">
                        <div class="table_row">
                            <div>
                                <div class="form_label">First Name</div>
                                <input class="text_field" ng-model="NewUser.FirstName" type="text" required/>
                                <div class="error_label">Invalid first name</div>

                            </div>
                            <div class="spacer"></div>
                            <div>
                                <div class="form_label">Last Name</div>
                                <input class="text_field" ng-model="NewUser.LastName" type="text" required/>
                                <div class="error_label">Invalid last name</div>
                            </div>
                        </div>
                        <div class="table_row">
                            <div>
                                <div class="form_label">Password</div>
                                <input class="text_field" ng-model="NewUser.Password" type="password" required/>
                                <div class="error_label">Invalid password</div>
                            </div>
                            <div class="spacer"></div>
                            <div>
                                <div class="form_label">Retype Password</div>
                                <input class="text_field" ng-model="NewUser.ReTypePassword" type="password" required/>
                                <div class="error_label">Invalid password</div>
                            </div>
                        </div>
                        <div class="table_row">
                            <div>
                                <div class="form_label">Mobile Phone</div>
                                <input class="text_field" ng-model="PhoneNumber" phone-by-state="NewUser.PhoneNumber" type="text"
                                        ng-required="IsPhoneNumberRequired(NewUser)"/>
                                <div class="error_label">Invalid phone number</div>
                            </div>
                            <div class="spacer"></div>
                            <div ng-if="IsAdmin">
                                <div class="form_label">Two Factor Authentication</div>
                                <label for="NewUserIsTFA" class="check_box"
                                       ng-class="{checked: NewUser.TwoFactorAuthentication.Enabled}">
                                    <input type="checkbox" id="NewUserIsTFA"
                                           ng-model="NewUser.TwoFactorAuthentication.Enabled"/>Enabled
                                </label>
                            </div>
                        </div>
                        <div class="table_row">

                            <div>
                                <div class="form_label">SMS Notification</div>
                                <div class="btn-group">
                                    <button multi-select="NewUser.Notifications.Phone" type="button" class="btn btn-default dropdown-toggle">
                                        Severity <span class="caret"></span></button>
                                    <ul multi-select-dropdown class="dropdown-menu">
                                        <li>
                                            <input type="checkbox" id="NotificationsPhone_1"
                                                   ng-model="NewUser.Notifications.Phone.High">
                                            <label for="NotificationsPhone_1">High</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="NotificationsPhone_2"
                                                   ng-model="NewUser.Notifications.Phone.Medium">
                                            <label for="NotificationsPhone_2">Medium</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="NotificationsPhone_3"
                                                   ng-model="NewUser.Notifications.Phone.Low">
                                            <label for="NotificationsPhone_3">Low</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div>
                                <div class="form_label">Email Notification</div>
                                <div class="btn-group">
                                    <button multi-select="NewUser.Notifications.Email" type="button" class="btn btn-default dropdown-toggle">
                                        Severity <span
                                            class="caret"></span></button>
                                    <ul multi-select-dropdown class="dropdown-menu" >
                                        <li>
                                            <input type="checkbox" id="NotificationsEmail_1"
                                                   ng-model="NewUser.Notifications.Email.High">
                                            <label for="NotificationsEmail_1">High</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="NotificationsEmail_2"
                                                   ng-model="NewUser.Notifications.Email.Medium">
                                            <label for="NotificationsEmail_2">Medium</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="NotificationsEmail_3"
                                                   ng-model="NewUser.Notifications.Email.Low">
                                            <label for="NotificationsEmail_3">Low</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="buttons_container">
                        <button class="button R" ng-click="Register()">Register</button>
                        <div class="clear"></div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="cover" ng-show="FormSend">
            <img src="/static/img/preloader.gif"/>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/dist/vendor-scripts.min.js"></script>
<script type="text/javascript" src="/static/dist/static-scripts.min.js"></script>
<script type="text/javascript" src="dist/scripts.min.js"></script>

<script src="/static/node_modules/systemjs/dist/system.js"></script>
<!-- build:bundle -->
<!-- endbuild -->

<script>
    System.import('static:app/polyfill.ts.js').then(function () {
        return System.import('static:app/vendor.ts.js');
    }).then(function () {
        return System.import('main.ts.js');
    });
</script>

<script>
    $("html").niceScroll({
        cursorborder: "none",
        cursorcolor: "#a1a2a4",
        cursorwidth: "8px",
        background: "#d8d8d8",
        autohidemode: false,
        zindex: 999
    });
</script>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-63675193-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>