body {
  background-color: #235279;
}
.navbar-header {
  .capital_red {
    color: red;
  }
  .non_capital {
    color: black;
  }
}
.greeting_container {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  .greeting {
    color: #00BFFF;
    font-size: 19px;
    opacity: 0;
    &.show_greeting {
      -webkit-transition: opacity 1s ease-in;
      -moz-transition: opacity 1s ease-in;
      -o-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in;
      opacity: 1;
    }
    &.hide_greeting {
      -webkit-transition: opacity 1s ease-out;
      -moz-transition: opacity 1s ease-out;
      -o-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;
      opacity: 0;
    }
  }
  .close_button {
    margin-left: 5px;
    color: orange;
  }
}

.centralize_page_horizontally {
    margin-left: 20%;
}
table {
  border-collapse: collapse;
  width: 60%;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
tr:nth-of-type(even) {
    color: white;
}

tr.is_self {
  background: green;
  color: black;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.team_select {
    border: none;
    color: white;
    background-color: transparent;
}
.team_option {
    color: black;
}


.tournament-popup .ngdialog-content {
  width: 1100px !important;
  height: 1100px !important;
}

.game{
  padding-left:20px;
}

.game.winner{
  font-weight:bold;
}

.game-top{ border-bottom:1px solid #aaa; }

.game-spacer{
  border-right:1px solid #aaa;
  min-height:40px;
}

.game-bottom{
  border-top:1px solid #aaa;
}


.round-2 {
  padding-top: 5%;
}

.round-3 {
  padding-top: 10%;
}

.round-4 {
  padding-top: 15%;
}

.round-5 {
  padding-top: 20%;
}

.round-5 {
  padding-top: 25%;
}