body {
  background-color: #235279;
}

table {
  width: 60%;
  border-collapse: collapse;
    margin-top: 100px;
    margin-left: 295px;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
tr:nth-of-type(even) {
    color: white;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.team_select {
    border: none;
    color: white;
    background-color: transparent;
}
.team_option {
    color: black;
}