body {
  background-color: #235279;
}
.navbar-header {
  .capital_red {
    color: red;
  }
  .non_capital {
    color: black;
  }
}
.greeting_container {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  .greeting {
    color: #00BFFF;
    font-size: 19px;
    opacity: 0;
    &.show_greeting {
      -webkit-transition: opacity 1s ease-in;
      -moz-transition: opacity 1s ease-in;
      -o-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in;
      opacity: 1;
    }
    &.hide_greeting {
      -webkit-transition: opacity 1s ease-out;
      -moz-transition: opacity 1s ease-out;
      -o-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;
      opacity: 0;
    }
  }
  .close_button {
    margin-left: 5px;
    color: orange;
  }
}

.centralize_page_horizontally {
  margin-left: 20%;
  width: 60%;
}
table {
  border-collapse: collapse;
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  tr:nth-of-type(even) {
    color: white;
  }

  tr.is_self {
    background: green;
    color: black;
  }
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }
  .team_select {
    border: none;
    color: white;
    background-color: transparent;
  }
  .team_option {
    color: black;
  }
}


.tournament_container {
  margin-top: 100px;
  background-color: #eee;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 1740px;

  .round {
    width: calc(16.666% - 3.333px);
    float: left;
    padding:0;
    &-winner {
      padding-top: 770px;
      width: calc(16.666% + 16px);
      .game.tournament_winner_announcement {
        color: green;
        font-weight:bold;
        padding-right: 20px;
        padding-bottom:10px;
      }
      .game.tournament_winner {
        color: red;
        font-weight:bold;
        padding-right: 20px;
        padding-top:10px;
      }
    }
    .match {
      height: 100px;
      &-2 {
        height: 200px;
        padding-top: 20px;
      }
      &-3 {
        height: 400px;
        padding-top: 70px;
      }
      &-4 {
        height: 800px;
        padding-top: 170px;
      }
      &-5 {
        height: 1040px;
        padding-top: 360px;
      }
    }
    .game{
      padding-left: 20px;
      color: #778899;
      &.winner{
        color: #1E90FF;
        font-weight:bold;
      }
      &.no_player {
        color: #D3D3D3;
      }
      &.game-top{
        border-bottom:1px solid #aaa;
      }
      &-spacer{
        height: 40px;
        border-right:1px solid #aaa;
        &-2 {
          height: 100px;
        }
        &-3 {
          height:200px
        }
        &-4 {
          height:380px
        }
        &-5 {
          height: 780px;
        }
      }
      &.game-bottom{
        border-top:1px solid #aaa;
      }
    }
  }
}
