body {
    background-image: url(/img/ping-pong-background.jpg);
}

.login_register_container {
    width: 280px;
    position: fixed;
    left: 35%;
    top: 25%;
    padding: 50px;
    text-align: left;
    color: white;
}

.input_div {
    margin-top: 10px;
}
.input_div input {
    background-color: beige;
}

.LoginLabel {
    width: 100%;
    text-align: center;
    font-size: 32px;
}